@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
/* ::-webkit-scrollbar {
  width: 5px;
  height: 4px;
} */

/* Track */
/* ::-webkit-scrollbar-track {
  background: transparent;
} */

/* Handle */
/* ::-webkit-scrollbar-thumb {
  background: #F9D304;
  border-radius: 4px;
  transition: all 0.3s ease;
} */

/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {

  width: 5px; 
  height: 5px; 
  border-radius: 5px; 
} */



@layer base{
    @font-face {
      font-family: "Avenir";
      font-weight: bold;
      src: url('./fonts/AvenirLTStd-Black.otf') format('opentype');
    }
  
    @font-face {
      font-family: "Feeling Passionate";
      font-weight: normal;
      src: url('./fonts/Feeling-Passionate.otf') format('opentype');
    }
  
    @font-face {
      font-family: "Stem-Regular";
      font-weight: normal;
      src: url('./fonts/Stem-Regular.otf') format('opentype');
    }
  
    @font-face {
      font-family: "Stem-Light";
      font-weight: lighter;
      src: url('./fonts/Stem-Light.otf') format('opentype');
    }
  
    @font-face {
      font-family: "Stem-Bold";
      font-weight: bold;
      src: url('./fonts/Stem-Bold.otf') format('opentype');
    }
  
  }